@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Old+Permic&family=Noto+Sans+Shavian&display=swap');

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Noto Sans Shavian';
}
