.dropdown {
  width: 100%;
  overflow: hidden;
}

.dropdown_button {
  position: relative;
  width: 100%;
  color: $font-color;
  background-color: $orange-color;
  border-radius: 10px;
  font-weight: 550;
  padding: 2%;
  font-size: 1.05em;
  z-index: 2;
}

.dropdown_items {
  position: relative;
  transform: translateY(-5%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $blue-pri-color;
  padding: 2%;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  transition: 0.3s ease-out;
}

.dropdown_items.dropdown_items_off {
  transition: 0.3s ease-out;
  transform: translateY(-100%);
  background-color: transparent;
  height: 0;
}

.dropdown_item {
  border-radius: 5px;
  margin-top: 3%;
  background-color: $orange-color;
  text-align: center;
  padding: 1%;
  transition: 0.3s;
}
